section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100px;
    max-height: 100px;
}

.container {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    max-width: 300px;
    height: 350px;
    overflow: auto;
    padding: 10px 20px;
    border: 1px double darkred;
}

.container:nth-child(2n - 1) {
    background-color: black;
    color: white;
}

